extends layout

block content
  h1= title
  form(method='POST' action='')
    div.form-group
      label(for='name') Computer Parts Name:
      input#name.form-control(type='text' placeholder='Computer Parts Name' name='name' required='true')
    div.form-group
      label(for='description') Description:
      input#description.form-control(type='textarea', placeholder='Description' name='description' value=(undefined===computerpart ? '' : category.description) required='true')
    div.form-group
      label(for='category') Category:
      select#category.form-control(type='select', placeholder='Select category' name='category' required='true' )
        - list_categories.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        for category in list_categories
          if computerpart
            option(value=category._id selected=(category._id.toString()===computerpart.category._id.toString() ? 'selected' : false) ) #{category.title}
          else
            option(value=category._id) #{category.name}
    div.form-group
      label(for='category') Manufacturer:
      input#category.form-control(type='text', placeholder='Category' name='category' required='true')
    button.btn.btn-primary(type='submit') Submit