extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='Name of computer part' name='title' required='true' value=(undefined===computerpart ? '' : computerpart.Name) )
    div.form-group
      label(for='manufacturer') Manufacturers:
      select#manufacturer.form-control(type='select', placeholder='Select manufacturer' name='manufacturer' required='true' )
        for manufact in Manufacturers
          if book
            option(value=manufact._id selected=(manufact._id.toString()===computerpart.manufact._id.toString() ? 'selected' : false) ) #{manufact.Name}
          else
            option(value=manufact._id) #{manufact.Name}
    div.form-group
      label(for='summary') Summary:
      input#summary.form-control(type='textarea', placeholder='Summary' name='summary' value=(undefined===computerpart ? '' : computerpart.summary) required='true')
    div.form-group
      label Categories:
      div
        for categ in Categories
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='Categories', id=categ._id, value=categ._id, checked=categ.checked )
            label(for=categ._id) #{categ.title}
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg