extends layout

block content
  h1 Manufacturer: #{_Manufacturer.Name}
  p Description: #{_Manufacturer.Description}

  div(stlye='margin-left:20px;margin-top:20px')

    h4 Parts

    d1
      each part in Manufacturer_parts
        dt
          a(href=part.url) #{part.Name}
        dd #{part.Description}

      else
        p This manufacturer has no parts.
  hr
  p
    a(href=category.url+'/delete') Delete category
    br
    br
    a(href=category.url+'/update') Update category